<footer style="text-align: center; padding: 2rem; margin-top: 2rem; border-top: 1px solid var(--border-color); color: var(--font-secondary);">
    <p><a href="/privacy-policy">プライバシーポリシー</a></p>
    <p style="margin-top: 1rem;">&copy; 2025 薩摩ノベルズ. All Rights Reserved.</p>
</footer>
</div>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= firebaseConfig.recaptchaSiteKey %>"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script>
        // .envから渡された設定でFirebaseを初期化
        const firebaseConfig = <%- JSON.stringify(firebaseConfig) %>;
        firebase.initializeApp(firebaseConfig);
    </script>
</body>
</html>