</div>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= firebaseConfig.recaptchaSiteKey %>"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script>
        // .envから渡された設定でFirebaseを初期化
        const firebaseConfig = <%- JSON.stringify(firebaseConfig) %>;
        firebase.initializeApp(firebaseConfig);
    </script>
</body>
</html>